*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}
.menu{
    width: 100%;
    height: 10vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    position: sticky;
}
.menu__text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    color: black;
}
.hero__products{
    width: 100%;
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 104, 104);

}
.hero__text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
a{
    text-decoration: none;
    color: black;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(65, 64, 64);
    color: white;
    text-align: center;
}
